<!DOCTYPE html>
<html>
<head>
    <title>Administrar Cuentas de Usuario</title>
</head>
<body>
    <h1>Administrar Cuentas de Usuario</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.nombre }}</td>
                <td>
                    <!-- Agrega botones de editar, eliminar, etc. -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
